<h1>lagin page</h1>
<form action="/register/sentMs" method="post" enctype="multipart/form-data">    
    <input type="text" name="username" id="username">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password">
    <input type="file" name="picture" id="picture">
    <input type="submit" name="submit" id="submit">
</form>